

.container {
    position: relative;
    background-color: aliceblue;
    height: 100dvh;
    width: 100vw;
  
    overflow: hidden;


}


.homescreen-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 100vw;
    height: 100vw;
    max-width: 60dvh;
    max-height: 60dvh;
    background-image: url('../images/homescreen title.png');
    background-size: 100%;
    background-repeat: none;
    image-rendering: pixelated;
    z-index: 120;

    animation: dropDownAnimation 1s ease;

}


.hide-homescreen-title {
    animation: fadeUp 1s ease;
    animation-fill-mode: forwards;
}

@keyframes fadeUp {
    100% {
        top: -200%;
        opacity: 0;
    }
    
}

@keyframes dropDownAnimation {
    0% {

        opacity: 0;
        top: 0;
    }

    100% {
        opacity: 1;
    }
    
}
/*
.homescreen-start-button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    height: 20vw;
    max-width: 20dvh;
    max-height: 10dvh;

    background-image: url('../images/homescreen start.png');
    background-size: 100%;
    background-repeat: none;
    background-color: #e7efff;

    cursor: pointer;
    z-index: 119;

    animation: dropDownButton 1.4s ease-out;
    animation-fill-mode: forwards;
}
*/


/**/

.homescreen-buttons-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    height: 20vw;
    max-width: 20dvh;
    max-height: 10dvh;

    z-index: 119;

    animation: dropDownButton 1.4s ease-out;
    animation-fill-mode: forwards;

}

.homescreen-start-button {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../images/homescreen start.png');
    background-size: 100%;
    background-repeat: none;
    background-color: #e7efff;


    cursor: pointer;
}





.hide-buttons-container {
    display: none;
}

@keyframes dropDownButton {
   0% {
    opacity: 0;
    top: 0;
   }
   80% {
    opacity: 0;
   }

   100% {
    opacity: 1;
    z-index: 121;
   }
    
}


.homescreen-start-button:hover {
    background-color: rgb(125, 225, 255);
}



.links-container {
    display: flex;
    position: absolute;
    height: 55%;
    width: max-content;
    margin: auto;
    padding: 0;

    top: 105%;
    left: 50%;
    transform: translate(-50%,0%);
    
    opacity: 0;
    animation: linksAnimation .5s ease 1.4s;
    animation-fill-mode: forwards;

}

@keyframes linksAnimation {
    0% {
        top: 100;
    }
    100% {
        opacity: 1;
    }
}
.links {
    height: 100%;
    width: auto;
    cursor: pointer;
    margin: .5vmin;
    border-radius: 1vmin;
}

.links:hover {
    transform: scale(1.15);
}


.character {
    position: absolute;
    top: 80%; 
    left: 0;
    transform: translate(0%, -50%);


    height: 25dvh;
    width: 25dvh;

    background-image: url('../images/sprite sheet.png');
    background-size: auto 50dvh;
    background-position: 0vh 0vh;
    image-rendering: pixelated;
    animation: walk 1.1s steps(6) 1.5s infinite;
    z-index: 106;
    
}

@keyframes walk {
    100% {
        background-position: calc(25dvh * -6) 0;
    }
}

.character-animation-transition {
    animation: walk 1s steps(6) infinite, walkToMiddle 3s linear;
    animation-fill-mode: forwards;

}

.character-centered {
    left: 50%;
    transform: translate(-50%, -50%);

    animation: singleStep 2s steps(1), riseToMiddle 2s ease;
    animation-fill-mode: forwards;
    background-position: 0 -25dvh;

    

}

@keyframes walkToMiddle {
    100% {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes singleStep {
    100% {
        background-position: -25dvh -25dvh;
    }
}

@keyframes riseToMiddle {
    100% {
        top: 50%;
    }
    
}





.main-layer-container{
    position: relative;
    height: 100dvh;
    
}


.layers {
    position: absolute;
    top: 0;
    left: 0;

    height: 100dvh;
    width: calc(100dvh * 16);

    background-repeat: repeat-x;
    background-size: contain;

}

.light-post-layer {
    background-image: url('../images/lightpost layer.png');
   

    z-index: 108;
    animation: scrollAnimation 60s linear 1.75s infinite;
}

.main-layer {
    background-image: url('../images/sidewalk layer.png');


    z-index: 105;
    animation: scrollAnimation 60s linear 1.75s infinite;
}

.sky-layer {
    background-image: url('../images/sky layer.png');
 
  
    z-index: 100;
    animation: scrollAnimation 180s linear 1.75s infinite;
}

.buildings-layer {
    background-image: url('../images/buildings layer.png');

     
    z-index: 101;
    animation: scrollAnimation 120s linear 1.75s infinite;
}


.stop-infinite-scrolling {
    animation-play-state: paused;
}




@keyframes scrollAnimation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100dvh * 4));
    }
}














