

img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;  
    
}

.single-page-button {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%,125%);

    width: 16vw;
    height: 16vw;

    max-width: 8dvh;
    max-height: 8dvh;

    background-color: transparent;

    border: solid .10vmin white;
    border-left: none;
    border-bottom-right-radius: 3vmin;
    border-top-right-radius: 2.5vmin;

    background-image: url('../images/skip-button-art.png');
    background-size: 100%;
    background-repeat: no-repeat;

    cursor: pointer;
    touch-action: none;

    z-index: 10;
}


.disable-content  {
    opacity: 40%;
}


.main-container {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    touch-action: none;

}

.main-container.bg-normal {
    background-image: linear-gradient(to right bottom, #121212, #333333, #585858, #7f7f7f, #a9a9a9);
}

.main-container.bg-red {
    background-image: linear-gradient(to right bottom, #121212, #281e2e, #492543, #72274e, #9b274c, #ad2a48, #bd3042, #cb3939, #cc3b3b, #cd3d3d, #ce3e3e, #cf4040);
}

.main-container.bg-orange {
    background-image: linear-gradient(to right bottom, #121212, #302a30, #55424b, #7f5c60, #a77a70, #ba8a77, #ca9c7e, #d9af86, #dfb489, #e5b88c, #ecbd8f, #f2c292);
}

.main-container.bg-yellow {
    background-image: linear-gradient(to right bottom, #121212, #393138, #6c5158, #a0756e, #cba180, #ddb682, #e9cf84, #ede98b, #f0ea76, #f2ec60, #f5ed45, #f8ee1e);
}

.main-container.bg-skyblue {
    background-image: linear-gradient(to right bottom, #121212, #303139, #4a5565, #617d92, #75a8c0, #7bbbd2, #81cee4, #87e1f5, #80dff3, #7adcf1, #72daf0, #6bd7ee);
}

.main-container.bg-blue {
    background-image: linear-gradient(to right bottom, #121212, #2c2b35, #45475c, #5d6587, #7485b4, #7991ca, #7e9ee0, #81abf6, #77a5f7, #6c9ef9, #6198fa, #5691fb);
}

.main-container.bg-purple {
    background-image: linear-gradient(to right bottom, #121212, #28243a, #423665, #614891, #8558be, #965dd1, #a862e4, #bb67f7, #b963f6, #b660f5, #b45cf3, #b158f2);
}

.main-container.bg-pink {
    background-image: linear-gradient(to right bottom, #121212, #312d3b, #564967, #826593, #b482c0, #ca8bd2, #e294e3, #fa9cf3, #f693ef, #f28beb, #ed82e6, #e979e2);
}


.container1 {
    position: relative;
    margin: auto;
    margin-right: 0;
    width: 100%;
    height: 40%;

    background-color: transparent;
    
    touch-action: none;
}

.container2 {
    position: relative;
    margin: auto;
    margin-left: 0;
    width: 100%;
    height: 60%;

    background-color: transparent;
}

.codeboy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    
    width: 74.75vw;
    height: 115vw;

    max-width: 35.75dvh;
    max-height: 55dvh;

    background-color: transparent;

    -ms-interpolation-mode: nearest-neighbor;

        image-rendering: -moz-crisp-edges;

        image-rendering: pixelated;
    
}

.highlight-drop-zone {
    outline: .5vmin solid aliceblue;
    border-radius: .5vmin;
}

.codeboy-image {      
    -webkit-animation: codeboyAnimation .5s ease-in-out;      
            animation: codeboyAnimation .5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes codeboyAnimation {
    0% {
    
        opacity: 0;
        transform: translateX(25%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes codeboyAnimation {
    0% {
    
        opacity: 0;
        transform: translateX(25%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.drop-zone-arrow {
    position: absolute;
    height: 15%;
    width: 15%;

    left: 50%;
    top: 0%;

    -webkit-animation: dropZoneAnimation .5s ease-in-out 0s infinite;

            animation: dropZoneAnimation .5s ease-in-out 0s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

@-webkit-keyframes dropZoneAnimation {
    0% {
        transform: translate(-50%, -175%);
    }
    100% {
        transform: translate(-50%, -100%);
    }
}

@keyframes dropZoneAnimation {
    0% {
        transform: translate(-50%, -175%);
    }
    100% {
        transform: translate(-50%, -100%);
    }
}

/* GAME PAGE NAVIGATION */
.fake-screen {
    position: absolute;
    background-color: transparent;
    width: 60%;
    height: 25%;
    top: 26.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;

}

.real-screen {
    position: fixed;
    background-color: transparent;
    z-index: 101;
}

.zoom-into-gamescreen {
    background-color: #e7efff;
    -webkit-animation: scaleToFullScreen 2s ease;
            animation: scaleToFullScreen 2s ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}


@-webkit-keyframes scaleToFullScreen {
    100% {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
    }
}


@keyframes scaleToFullScreen {
    100% {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
    }
}


@media screen and (min-width: 125dvh) {

    .main-container {
        display: flex;
    }


    .container1 {
        width: 50%;
        height: 100%;

        max-width: 100dvh;
    }

    .container2 {
        width: 35%;
        height: 100%;

        max-width: 60dvh;
        max-height: 100dvh;
        background-color: transparent;
    }

    .codeboy {
        width: 24.4vw;
        height: 37.5vw;
       
        max-width: 39dvh;
        max-height: 60dvh;

        background-color: transparent;
    }

    .codeboy-image {
        height: 100%;
        width: auto;
        margin: auto;
      
    }
 
}

@media (pointer: fine) {
    .single-page-button:hover {
            transform: scale(1.25) translate(10%, 100%);
    }
}
