

.game-main-container {
    background-color: #e7efff;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}


.mouse-pointer {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0%);


    width: 12.5%;
    height: 12.5%;

    background-image: url('../images/mouse-pointer-art.png');
    background-size: 100%;
    background-color: #121212aa;

    border-radius: 5rem;
    border: solid .15rem white;

    margin: 0;
    padding: 0;
}

header {
    position: absolute;

    width: 100%;
    height: 7.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 1.5rem;

    scroll-margin: 1.5rem;
    z-index: 100;
    
    background-color: transparent;

}


.homepage-button {
    height: 80%;
    width: auto;

    margin-left: 4vw;
    margin-right: auto;
    padding: none;

    -ms-interpolation-mode: nearest-neighbor;

        image-rendering: -moz-crisp-edges;

        image-rendering: pixelated;

    cursor: pointer;
    opacity: 100;

    touch-action: none;

    z-index: 100;
    
}


.header-game-image {
    height: 80%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;

    margin-left: auto;
    margin-right: 4vw;

    z-index: 100;
}


.main-art-container{
    position: relative;
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

.main-page-title {
    position: absolute;
    left: 50%;
    top: 25%;

    height: 10dvh;
    width: 90vw;
    z-index: 5;

    opacity: 0;
    -webkit-animation: titleAnimation .75s ease .9s;
            animation: titleAnimation .75s ease .9s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    -ms-interpolation-mode: nearest-neighbor;

        image-rendering: -moz-crisp-edges;

        image-rendering: pixelated;
}

@-webkit-keyframes titleAnimation {
    0% {
        transform: translate(-50%, -250%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


@keyframes titleAnimation {
    0% {
        transform: translate(-50%, -250%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

}

.main-art-layers {
    position: absolute;
    left: 0;
    top: 0;

    height: 100dvh;
    width: calc(100dvh * 20);

    background-repeat: repeat-x;
    background-size: contain;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
    
    margin: 0;
    padding: 0;

    -webkit-filter: blur(2.5rem);
            filter: blur(2.5rem);
}


.layer-1 {
    -webkit-animation: blurEffect .75s linear .05s, scrollAnimation2 60s linear 1.80s infinite;
            animation: blurEffect .75s linear .05s, scrollAnimation2 60s linear 1.80s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.layer-2 {
    -webkit-animation: blurEffect .75s linear .05s, scrollAnimation2 40s linear 1.80s infinite;
            animation: blurEffect .75s linear .05s, scrollAnimation2 40s linear 1.80s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.layer-3 {
    -webkit-animation: blurEffect .75s linear .05s, scrollAnimation2 20s linear 1.80s infinite;
            animation: blurEffect .75s linear .05s, scrollAnimation2 20s linear 1.80s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.top-layer-art-skills {
    position: absolute;
    top: 100%;
    left: 50%;

    transform: translate(-50%, -100%);

    width: 115vmin;
    height: 115vmin;

    background-image: url('../images/computer-setup-art.png');
    background-size: 100%;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;

    -webkit-filter: blur(2.5rem);
            filter: blur(2.5rem);
    -webkit-animation: blurEffect .75s linear .05s;
            animation: blurEffect .75s linear .05s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    z-index: 7;
}


.aboutme-art {
    background-image: url('../images/aboutme-main-art.png');
}

.skills-art {
    background-image: url('../images/skills-main-art.png');
}

.skills-art-layer-2 {
    background-image: url('../images/skills-main-art-2.png'); 
    z-index: 6;
}

.tictactoe-art {
    background-image: url('../images/ttt-main-art.png');
}

.tictactoe-art-layer-2 {
    background-image: url('../images/ttt-main-art-2.png');
}

.tictactoe-art-layer-3 {
    background-image: url('../images/ttt-main-art-3.png');
}

.maze-art-layer-2 {
    background-image: url('../images/maze-main-art-2.png');
    z-index: 2;
}

.maze-art-layer-3 {
    background-image: url('../images/maze-main-art.png');
    z-index: 1;
}


.codeboy-art {
    background-image: url('../images/codeboy-main-art.png');
}

.codeboy-art-layer-3 {
    background-image: url('../images/codeboy-main-art-2.png');
}

.pixelgames-art {
    background-image: url('../images/pixelgames-main-art.png');
    
    -webkit-animation: blurEffect .75s linear .05s;
            animation: blurEffect .75s linear .05s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.pixelgames-art-layer-2 {
    background-image: url('../images/pixelgames-main-art-2.png');
}

.top-layer-art-pixelgames {
    position: absolute;
    left: 50%;
    top: 88%;
    transform: translate(-50%, -100%);

    height: 42%;

    -ms-interpolation-mode: nearest-neighbor;

        image-rendering: -moz-crisp-edges;

        image-rendering: pixelated;

    -webkit-filter: blur(2.5rem);
            filter: blur(2.5rem);
    -webkit-animation: blurEffect .75s linear .05s;
            animation: blurEffect .75s linear .05s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    z-index: 10;
}


.page-arrow-down {
    position: absolute;
    width: 17.5vw;
    height: 17.5vw;
    max-width: 10dvh;
    max-height: 10dvh;

    top: 85%;
    left: 50%;

    margin: auto;
    padding: 0;
    cursor: pointer;

    background-image: url('../images/show-button.png');
    background-size: 100%;
    
    -webkit-animation: arrowDownFadeIn 1.65s ease , arrowDownAnimation .5s ease-in-out 1.65s infinite;
    
            animation: arrowDownFadeIn 1.65s ease , arrowDownAnimation .5s ease-in-out 1.65s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    z-index: 50;
    
}

@-webkit-keyframes arrowDownFadeIn {
    0% {
        transform: translate(-50%, 200%);
        opacity: 0;
    }

    80% {
        transform: translate(-50%, 200%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    
}

@keyframes arrowDownFadeIn {
    0% {
        transform: translate(-50%, 200%);
        opacity: 0;
    }

    80% {
        transform: translate(-50%, 200%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    
}

@-webkit-keyframes arrowDownAnimation {
    0% {
        
    }
    100% {
        top: 100%;
        transform: translate(-50%, -100%);
    }
    
}

@keyframes arrowDownAnimation {
    0% {
        
    }
    100% {
        top: 100%;
        transform: translate(-50%, -100%);
    }
    
}


@-webkit-keyframes scrollAnimation2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100dvh * 5));
    }
}


@keyframes scrollAnimation2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100dvh * 5));
    }
}


@-webkit-keyframes blurEffect {
    0% {
        -webkit-filter: blur(2.5rem);
                filter: blur(2.5rem);
    }

    100% {
        -webkit-filter: blur(0);
                filter: blur(0);
    }
}


@keyframes blurEffect {
    0% {
        -webkit-filter: blur(2.5rem);
                filter: blur(2.5rem);
    }

    100% {
        -webkit-filter: blur(0);
                filter: blur(0);
    }
}

main {
    width: 90%;
    max-width: 1500px;
    margin: auto;

    scroll-margin: 5rem;

}

h1 {
    text-align: center;

    font-size: clamp(4.75rem, 4rem + 2.5vw, 8rem);
    inline-size: 90%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

}


h2 {
    font-size: clamp(4.75rem, 4rem + 1.5vw, 6.2rem);

    padding: 0;
    margin-bottom: 1rem;
}

h3 {
    font-size: 3.5rem;
    margin: 1.5rem auto;
    padding: 0 1rem;
}

.subtitle-left {
    text-align: left;
    margin-left: 7.5vw;
    text-transform: uppercase;
}

.subtitle {
    text-transform: uppercase;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

h4 {
    text-align: center;
    font-size: 3.5rem;
    
    margin: auto;
    
    padding: 0;
    font-weight: 100;
}

p {
    text-align: center;
    
    
    font-size: clamp(2rem, 1.8rem + 1.15vw, 3.5rem);    
    inline-size: 100%;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    margin: 3rem auto;
}

.download-button {
    display: inline-block;
    
    font-size: clamp(3.5rem, 3rem + 1.5vw, 5rem);

    margin: 3rem auto;
    padding: .5rem;
    background-color: transparent;
    border: .25rem solid black;
    text-decoration: none;
}

.download-button:hover {
    background-color: #272424;
    color: #6bd7ee;
}


/* CARDS WITH IMAGES + TEXT STYLES */
.cards-container {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    width: 100%;
    height: auto;

    margin-top: 1rem;
    margin-bottom: 1rem;

    box-sizing: border-box;
}


.card {
    display: flex;
    flex-direction: column;
    

    position: relative;
    background-color: #e7e6dd;
    outline: 1px solid black;
    margin: 2rem;
    
    box-sizing: border-box;
    


    width: 90%;
    max-width: 35rem;
}

.card-image {
    margin: auto;
    padding: 0;
    flex: 1;
    
    max-width: 350px;
}

.card-text-container {
    flex: 1;
}

.card-title {
    
    font-size: clamp(2.5rem, 1.25rem + 4.75vw, 4rem);    
    margin: 1.5rem auto;
    padding: 0 1rem;
}

.card-text {
    background-color: none;
    text-align: left;
 
    font-size: clamp(2rem, 1rem + 3.5vw, 2.75rem);    
    margin: 1rem auto;
    padding-bottom: 1.75rem;

    inline-size: 90%;

}




/*CARDS WITH ONLY IMAGES*/

.image-cards-container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    box-sizing: border-box;
}

.image-card {
    position: relative;
    outline: 1px solid black;
    margin: 2rem 1rem;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    width: 80vw;
    height: 80vw;
    max-width: 350px;
    max-height: 350px;
    perspective: 80rem;

    
}

.link-image-card:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.image-card-face {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.75s;
    transform-style: preserve-3d;

}

.image-card-front, .image-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    
}

.image-card:hover .image-card-face {
    transform: rotateY(180deg);
}


.image-card-image {
    width: 100%;
    height: 100%;
}

.image-card-back {
    color: aliceblue;
    background-color: #2a2929;
    transform: rotateY(180deg);
}

.image-card-title {
    font-size: clamp(2.75rem, 1rem + 5vw, 3.5rem);
}

.image-card-text {
    font-size: clamp(2rem, 0.5rem + 4vw, 2.75rem);
    margin: 1.5rem auto;
    inline-size: 90%;
}


.pixel-art-images {
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
}



/* PROJECT SCREENSHOT IMAGES*/

.screenshots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem auto;
}


.screenshot-image {

    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
    padding: 0;
}


.move-up-content {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.page-arrow-up {
    width: 17.5vw;
    height: 17.5vw;
    max-width: 7.5dvh;
    max-height: 7.5dvh;

    margin: auto;
    background-image: url('../images/hide-button.png');
    background-size: 100%;

    -webkit-animation-direction: alternate;

            animation-direction: alternate;
}


.move-up-button {
    background-color: #6bd7ee;
    color: black;

    font-size: clamp(3.5rem, 3.1842rem + 1.4035vw, 4.5rem);    
    font-family: inherit;

    margin: 1.25rem auto;
    padding: 0;
    
    border: .25rem solid black;

    box-sizing: border-box;
    list-style: none;

    touch-action: none;

    cursor: pointer;
}

.move-up-button:hover {
    background-color: #272424;
    color: #6bd7ee;
}


.resume-image {
    max-width: 1000px;
    margin: auto;
}


@media screen and (min-width: 481px) {
    .card {
        width: 75%;
        max-width: 350px;
    }
}

@media screen and (min-width: 769px) {
    
    p {
        inline-size: 90%;
    }

    .cards-container {
        flex-direction: column;
        margin: auto;

    }
    
    .card {
        flex-direction: row;
        width: 80%;
        max-width: 700px;
        margin: 2rem auto;
    }


    .card-title {
        font-size: clamp(3rem, 1rem + 2.2vw, 3.25rem);
    }

    .card-text {
        font-size: clamp(2.5rem, 1.25rem + 1.3vw, 2.75rem);
    }
    
}