

/* HEADER STYLING SECTION */
.singlepage-header {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;

    width: 100%;

    background-color: transparent;
}


/* HEADER BUTTON ON SMALL WIDTH SCREENS*/
.header-main-button {
    
    width: auto;
    height: 80%;

    margin-left: auto;
    margin-right: 4vw;

    box-sizing: border-box;

    -ms-interpolation-mode: nearest-neighbor;

        image-rendering: -moz-crisp-edges;

        image-rendering: pixelated;

    cursor: pointer;
}


.header-button-list-container {
    position: fixed;
    background-color: #121212ef;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 150;

    overflow-y: scroll;

    -webkit-animation: headerListButtons .5s ease;

            animation: headerListButtons .5s ease;
}

@-webkit-keyframes headerListButtons {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes headerListButtons {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.header-list-close-button {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-110%, 10%);

    width: 20vw;
    height: 20vw;
    
    max-width: 10dvh;
    max-height: 10dvh;
    
    color: white;
    font-size: 10rem;

    background-color: transparent;
    background-image: url('../images/letter-x.png');
    background-size: 100%;
   
    border: none;
    box-sizing: border-box;
}

.header-button-list {
    display: flex;
    flex-direction: column;

    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
 
    width: 100%;

}

.header-list-button {
    font-size: clamp(4.5rem, 2rem + 7.75vw, 8rem);
    font-size: 6dvh;
    font-family: inherit;

    color: aliceblue;
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: underline;

    margin: 1dvh auto;

    opacity: 0;
    -webkit-animation: headerButton .25s ease;
            animation: headerButton .25s ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

}


#aboutme {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}

#skills {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
}

#projects {
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
}

#links {
    -webkit-animation-delay: .8s;
            animation-delay: .8s;
}

#resume {
    -webkit-animation-delay: .9s;
            animation-delay: .9s
}

@-webkit-keyframes headerButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes headerButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




/* HEADER BUTTONS ON LARGE SCREENS */
.singlepage-sections-container {
    display: flex;
    height: 95%;

    margin-left: auto;
    margin-right: 4vw;

    display: none;
}


.header-button {
    font-size: 4.5rem;
    font-family: inherit;

    width: -webkit-max-content;

    width: -moz-max-content;

    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;

    margin: auto 1rem;

    color: aliceblue;

    background-color: #1212128d;
    border: solid .2rem white;

    box-sizing: border-box;

    border-radius: 1rem;

    cursor: pointer;

    opacity: 0;
    -webkit-animation: headerButton .25s ease;
            animation: headerButton .25s ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}


.header-button:hover {
    background-color: aliceblue;
    color: #121212;
}


/* SINGLE PAGE MAIN CONTAINER */
.singlepage-main-container {
    position: absolute;
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #e7efff;
    border: solid 1px black;
}

/* MAIN PAGE ART */
.singlepage-art-container {
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: transparent;

}

.codeboy-layer {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 77.5vw;
    height: 125vw;

    max-width: 46.5dvh;
    max-height: 75dvh;


    background-color: transparent;
   
    background-image: url('../images/GIFS/codeboy-special.gif');
    background-repeat: no-repeat;
    background-size: contain;

    -ms-interpolation-mode: nearest-neighbor;

        image-rendering: -moz-crisp-edges;

        image-rendering: pixelated;


    -webkit-filter: blur(2.5rem);


            filter: blur(2.5rem);

    -webkit-animation: blurEffect .75s linear .15s;

            animation: blurEffect .75s linear .15s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.single-containers {
    width: 90%;
    max-width: 150rem;
    margin: auto;

}


.project-cards {
    outline: solid .1vmin white;
    background-color: #4c4c4c;
    color: white;
}


.project-text {
    text-align: center;
}



@media screen and (min-width: 769px) {

    .project-images {
        width: 42.5%;
        height: auto;
    }

    .project-cards-container {
        flex-direction: row;
    }

    .project-text {
        font-size: clamp(2.2rem, 1.1rem + 1.2vw, 2.75rem);
    }
}




@media screen and (min-width: 950px) {

    .header-main-button {
        display: none;
    }

    .header-button-list-container {
        display: none;
    }

    .singlepage-sections-container {
        display: flex;
    }
}
